.container{
    margin: 60px;
}

/* header  */
.header__box{
    padding: 10px 10px 10px 20px;
}
.header__box1{
    padding: 10px 10px 10px 20px;
}
.header__box2{
    padding: 10px 10px 10px 20px;
}
.header__box3{
    padding: 10px 10px 10px 20px;
}
.header__box1 input{
    margin-left: 40px;
    padding: 5px 0px 5px 0px;
}
.header__box2 input{
    margin-left: 15px;
    padding: 5px 0px 5px 0px;
}
.header__box3 input{
    margin-left: 20px;
    padding: 5px 0px 5px 0px;
}
.header__box button{
    margin: 20px;
    padding: 10px 40px;
}

/* Footer  */
td, th{
    padding: 10px 20px;
}
footer h2{
    color: red;
}